In [51]:
#Import Dependencies
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
from datetime import datetime as dt

In [52]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import create_engine
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import table, column

In [2]:
#Read in Data from CSV
drug_data_csv = "Resources/drug_deaths.csv"
income_data_csv = "Resources/per_capita_personal_income.csv"
drug_data = pd.read_csv(drug_data_csv)
income_data = pd.read_csv(income_data_csv)
drug_data.head()
#income_data.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,0,14-0273,06/28/2014 12:00:00 AM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0,0,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,1,13-0102,03/21/2013 12:00:00 AM,0.0,48.0,Male,Black,NORWALK,NaN,NaN,...,0,0,0,NaN,0,0,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,2,16-0165,03/13/2016 12:00:00 AM,0.0,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,...,0,0,0,NaN,0,1,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,3,16-0208,03/31/2016 12:00:00 AM,0.0,23.0,Male,White,RYE,WESTCHESTER,NY,...,0,0,0,NaN,0,1,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,4,13-0052,02/13/2013 12:00:00 AM,0.0,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,...,0,0,0,NaN,0,0,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

In [88]:
#Desired Data
new_drug_data = drug_data[['ID','Date', 'Age', 'ResidenceState', 'COD', 'Heroin', 'Cocaine', 'Fentanyl', 'Fentanyl_Analogue','Oxycodone','Oxymorphone', 'Ethanol','Hydrocodone', 'Benzodiazepine', 'Methadone','Amphet', 'Tramad','Morphine_NotHeroin', 'Hydromorphone']].copy()
new_drug_data.head()

new_income_data = income_data.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ,12 ,13, 14, 15, 16,17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,28,29]]
#new_income_data.head()

Data Cleaning: Drug Overdose Data

In [82]:
#Extract only year from Date Column
new_drug_data['Year']= pd.DatetimeIndex(new_drug_data['Date']).year
new_drug_data.head()

,ID,Date,Age,ResidenceState,COD,Heroin,Cocaine,Fentanyl,Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Year
0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",0,0,1,0.0,0,0,0,1,1,0,0,0,0,0,2014.0
1,13-0102,03/21/2013 12:00:00 AM,48.0,NaN,Cocaine Intoxication,0,1,0,0.0,0,0,0,0,0,0,0,0,0,0,2013.0
2,16-0165,03/13/2016 12:00:00 AM,30.0,CT,Acute Heroin and Cocaine Intoxication,1,1,0,0.0,0,0,0,0,0,0,0,0,0,0,2016.0
3,16-0208,03/31/2016 12:00:00 AM,23.0,NY,Acute Fentanyl and Morphine Intoxication,1,0,1,0.0,0,0,0,0,0,0,0,0,0,0,2016.0
4,13-0052,02/13/2013 12:00:00 AM,22.0,NaN,Fentanyl Intoxication,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,2013.0

In [83]:
#Combine data to be per year (2012 to 2018)

#question- why is fentanyl/ others not adding like the rest?
#round year to not be a decimal
new_drug_data.groupby(by='Year').agg({'Fentanyl': 'sum',
                           'Heroin': 'sum',
                           'Cocaine': 'sum',
                           'Fentanyl_Analogue': 'sum',
                           'Oxycodone': 'sum',
                           'Oxymorphone': 'sum',
                           'Ethanol' : 'sum',
                           'Hydrocodone' : 'sum',
                           'Benzodiazepine': 'sum',
                           'Methadone': 'sum',
                           'Amphet' : 'sum',
                           'Tramad' : 'sum',
                           'Morphine_NotHeroin' : 'sum',
                           'Hydromorphone' : 'sum',
                           'COD': ','.join}).reset_index()

,Year,Fentanyl,Heroin,Cocaine,Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,COD
0,2012.0,0000000000000000000000000000000000000000100000...,174,105,0.0,70,30,61,15,49,33,7,8,0000000000000000000000000000000000000000000000...,0,"Heroin Toxicity,Heroin Toxicity,Multiple Drug ..."
1,2013.0,0100000000000100000000000000000000000000000000...,257,147,0.0,74,16,83,19,78,47,4,7,0000000000000000000000000000000000000000000000...,0,"Cocaine Intoxication,Fentanyl Intoxication,Com..."
2,2014.0,1000000000010000000001100000000101000000000000...,325,127,0.0,101,29,126,15,157,51,13,15,0000000000000000000000000000000000000000000000...,0,"Acute fent, hydrocod, benzodiazepine,Heroin In..."
3,2015.0,0000100001000001110101100000100011001000000001...,416,174,0.0,95,6,176,20,221,72,20,16,0000000000000000000000000000000000000000000000...,0,Acute intoxication from the combined effects o...
4,2016.0,0100111110110001001111101001100010110100100111...,494,275,0.0,110,7,255,20,242,84,19,17,0000000000001100000000000000000000000000000000...,0,"Acute Heroin and Cocaine Intoxication,Acute Fe..."
5,2017.0,1111111111110111001011111101000111101111111111...,474,347,139.0,95,8,290,15,330,99,40,28,0000000000000000000000000000000000000000000000...,16,"ACUTE COMBINED HEROIN, FENTANYL, ACETYL FENTAN..."
6,2018.0,1010100110111110101111100111110101111111111111...,389,345,250.0,62,12,256,14,266,88,56,39,0000000001ES0000000000000000000000000000000000...,9,"Acute IntoxicationCombined Effects of Ethanol,..."

Data Cleaning: Personal Income Per Capita

In [89]:
#Rename Columns Date
new_income_data.columns.values[2:6] =["2012"]
new_income_data.columns.values[6:10] =["2013"]
new_income_data.columns.values[10:14] =["2014"]
new_income_data.columns.values[14:18] =["2015"]
new_income_data.columns.values[18:22] =["2016"]
new_income_data.columns.values[22:26] =["2017"]
new_income_data.columns.values[26:30] =["2018"]

In [90]:
new_income_data.head()

,GeoFips,GeoName,2012,2012,2012,2012,2013,2013,2013,2013,...,2016,2016,2017,2017,2017,2017,2018,2018,2018,2018
0,0,United States,43971,44381,44191,45616,44353,44720,44910,45171,...,49734,50134,50794,51286,51773,52428,53022,53532,54122,54578
1,1000,Alabama,35571,35873,35507,36323,35900,36009,36176,35959,...,39004,39243,39823,40112,40305,40731,41148,41409,41675,42162
2,2000,Alaska *,53535,53819,53460,54042,52634,52545,53053,53253,...,56218,56553,56564,56869,57597,58164,58846,59239,60258,60717
3,4000,Arizona,36104,36470,36217,37364,36701,37090,37254,37427,...,41720,41857,42608,42966,43597,43955,44688,44994,45551,45890
4,5000,Arkansas,35988,36556,36187,37595,36500,36639,36803,36739,...,40915,41214,41757,41871,42027,42567,42986,43338,43849,44447

In [93]:
#new_income_data.groupby(by='2012').agg({'GeoName': 'sum'}).reset_index()

In [94]:
#Convert State Abbrev.
state_2 = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

state_2 = {state: abbrev for state, abbrev in state_2.items()}

In [104]:
#New State Col. (abbrev so it will match drug_overdose states)
new_income_data['abbrev'] = new_income_data['GeoName'].map(state_2)
new_income_data = new_income_data.drop(columns=['GeoName'])
new_income_data = new_income_data.rename(columns={'abbrev':"State"})
new_income_data = new_income_data.dropna() 
new_income_data

KeyError: 'GeoName'

Connect to Local Database

In [53]:
#Connect to DB
protocol = 'postgresql'
username = 'postgres'
password = ''
host = 'localhost'
port = 5433
database_name = 'drug_overdose_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [55]:
#engine.table_names()