In [1]:
#Import Dependencies
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
from datetime import datetime as dt

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import create_engine
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import table, column
import datetime

In [3]:
#Read in Data from CSV
drug_data_csv = "Resources/drug_deaths.csv"
income_data_csv = "Resources/per_capita_personal_income.csv"
drug_data = pd.read_csv(drug_data_csv)
income_data = pd.read_csv(income_data_csv)
drug_data.head()
#income_data.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,0,14-0273,06/28/2014 12:00:00 AM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0,0,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,1,13-0102,03/21/2013 12:00:00 AM,0.0,48.0,Male,Black,NORWALK,NaN,NaN,...,0,0,0,NaN,0,0,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,2,16-0165,03/13/2016 12:00:00 AM,0.0,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,...,0,0,0,NaN,0,1,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,3,16-0208,03/31/2016 12:00:00 AM,0.0,23.0,Male,White,RYE,WESTCHESTER,NY,...,0,0,0,NaN,0,1,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,4,13-0052,02/13/2013 12:00:00 AM,0.0,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,...,0,0,0,NaN,0,0,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

In [41]:
#Desired Data
new_drug_data = drug_data[['ID','Date', 'Age', 'ResidenceState', 'COD', 'Heroin', 'Cocaine', 'Fentanyl', 'Oxycodone','Oxymorphone', 'Ethanol','Hydrocodone', 'Benzodiazepine', 'Methadone','Amphet', 'Tramad']].copy()
#new_drug_data.head()

new_income_data = income_data.iloc[:, [2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ,12 ,13, 14, 15, 16,17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,28,29]]
new_income_data.head()

,2012:Q1,2012:Q2,2012:Q3,2012:Q4,2013:Q1,2013:Q2,2013:Q3,2013:Q4,2014:Q1,2014:Q2,...,2016:Q3,2016:Q4,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4
0,43971,44381,44191,45616,44353,44720,44910,45171,45909,46616,...,49734,50134,50794,51286,51773,52428,53022,53532,54122,54578
1,35571,35873,35507,36323,35900,36009,36176,35959,36269,36846,...,39004,39243,39823,40112,40305,40731,41148,41409,41675,42162
2,53535,53819,53460,54042,52634,52545,53053,53253,54867,55703,...,56218,56553,56564,56869,57597,58164,58846,59239,60258,60717
3,36104,36470,36217,37364,36701,37090,37254,37427,38134,38522,...,41720,41857,42608,42966,43597,43955,44688,44994,45551,45890
4,35988,36556,36187,37595,36500,36639,36803,36739,37782,38584,...,40915,41214,41757,41871,42027,42567,42986,43338,43849,44447

Data Cleaning: Drug Overdose Data

In [16]:
#Extract only year from Date Column
new_drug_data['Date'] = pd.to_datetime(new_drug_data['Date'])
new_drug_data['Date'] = pd.DatetimeIndex(new_drug_data['Date']).year

In [17]:
#Extract only year from Date Column
new_drug_data['Date'] = new_drug_data['Date'].fillna(0)
new_drug_data['Date'] = new_drug_data['Date'].astype(int)
new_drug_data = new_drug_data.set_index('Date')
new_drug_data.head()

,ID,Age,ResidenceState,COD,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad
Date,,,,,,,,,,,,,,,
2014,14-0273,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",0,0,1,0,0,0,1,1,0,0,0
2013,13-0102,48.0,NaN,Cocaine Intoxication,0,1,0,0,0,0,0,0,0,0,0
2016,16-0165,30.0,CT,Acute Heroin and Cocaine Intoxication,1,1,0,0,0,0,0,0,0,0,0
2016,16-0208,23.0,NY,Acute Fentanyl and Morphine Intoxication,1,0,1,0,0,0,0,0,0,0,0
2013,13-0052,22.0,NaN,Fentanyl Intoxication,0,0,1,0,0,0,0,0,0,0,0

In [18]:
#Edit columns not int
new_drug_data["Fentanyl"].unique()
new_drug_data["Fentanyl"] = new_drug_data.apply(lambda row: int(row["Fentanyl"][:1]), axis=1)

In [25]:
#Combine data to be per year (2012 to 2018)
drug_overdose_temp = new_drug_data.groupby(by='Date').agg({'Fentanyl': 'sum',
                            'Heroin': 'sum',
                            'Cocaine': 'sum',
                            'Oxycodone': 'sum',
                            'Oxymorphone': 'sum',
                            'Ethanol' : 'sum',
                            'Hydrocodone' : 'sum',
                            'Benzodiazepine': 'sum',
                            'Methadone': 'sum',
                            'Amphet' : 'sum',
                            'Tramad' : 'sum'}).reset_index()

In [26]:
drug_overdose = drug_overdose_temp.drop(drug_overdose_temp.index[0])
drug_overdose

,Date,Fentanyl,Heroin,Cocaine,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad
1,2012,14,174,105,70,30,61,15,49,33,7,8
2,2013,37,257,147,74,16,83,19,78,47,4,7
3,2014,75,325,127,101,29,126,15,157,51,13,15
4,2015,188,416,174,95,6,176,20,221,72,20,16
5,2016,482,494,275,110,7,255,20,242,84,19,17
6,2017,676,474,347,95,8,290,15,330,99,40,28
7,2018,760,389,345,62,12,256,14,266,88,56,39

Data Cleaning: Personal Income Per Capita

In [34]:
#Rename Columns Date
new_income_data.columns.values[2:6] =["2012"]
new_income_data.columns.values[6:10] =["2013"]
new_income_data.columns.values[10:14] =["2014"]
new_income_data.columns.values[14:18] =["2015"]
new_income_data.columns.values[18:22] =["2016"]
new_income_data.columns.values[22:26] =["2017"]
new_income_data.columns.values[26:30] =["2018"]

In [42]:
new_income_data

,2012:Q1,2012:Q2,2012:Q3,2012:Q4,2013:Q1,2013:Q2,2013:Q3,2013:Q4,2014:Q1,2014:Q2,...,2016:Q3,2016:Q4,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4
0,43971,44381,44191,45616,44353,44720,44910,45171,45909,46616,...,49734,50134,50794,51286,51773,52428,53022,53532,54122,54578
1,35571,35873,35507,36323,35900,36009,36176,35959,36269,36846,...,39004,39243,39823,40112,40305,40731,41148,41409,41675,42162
2,53535,53819,53460,54042,52634,52545,53053,53253,54867,55703,...,56218,56553,56564,56869,57597,58164,58846,59239,60258,60717
3,36104,36470,36217,37364,36701,37090,37254,37427,38134,38522,...,41720,41857,42608,42966,43597,43955,44688,44994,45551,45890
4,35988,36556,36187,37595,36500,36639,36803,36739,37782,38584,...,40915,41214,41757,41871,42027,42567,42986,43338,43849,44447
5,47180,47675,47567,50008,47595,48314,48707,49335,49948,50807,...,56808,57297,57841,58456,59085,59890,60344,61195,61992,62543
6,44951,45360,45076,47067,46530,47185,47656,48191,49665,50524,...,52535,53113,54091,54807,55582,56626,57316,58040,58942,59646
7,63486,64142,63383,65474,62284,62500,62717,63057,64101,65085,...,68668,68707,69150,69996,70372,71051,72123,72718,73919,73984
8,43558,44017,43685,44961,43934,44414,44454,44767,45293,45805,...,48948,49344,49926,50056,50809,51197,51995,52503,53223,53573
9,67945,68239,67301,69029,67577,67834,67687,68161,70375,71148,...,78252,78898,79152,79541,80316,80957,81470,82040,83224,83455
10,41071,41304,41135,42596,40808,41006,41224,41517,42399,43236,...,46686,47083,48028,48807,49329,49943,50684,51074,51771,52245
11,37206,37338,37178,38279,37436,37761,37822,38090,39061,39712,...,43072,43542,44390,44731,45068,45777,46155,46569,47188,47343
12,43511,43875,43573,44273,43615,43773,44011,44397,45157,45848,...,49298,49671,50521,50892,51323,51437,51641,52071,52392,52646
13,34447,34840,34891,36185,35526,36095,36303,36391,36770,37509,...,40264,40290,40790,41445,41739,42271,42874,43136,43372,43955
14,45434,45905,45650,47096,46557,46997,47155,47496,48279,48962,...,51985,52531,52760,53354,53911,54550,55568,56284,56777,57398
15,38798,39326,39370,40178,39824,39785,39753,39703,40343,41037,...,43789,44117,44451,44912,45252,45785,46587,46864,47209,47733
16,42353,42966,42540,43551,43321,43491,43601,43324,43729,44753,...,46431,46372,47028,47196,47162,47765,48364,48841,49216,50376
17,45277,45297,44518,46111,45367,46279,46344,46684,46025,46831,...,47542,47780,48236,48498,48776,49454,49990,50546,51042,51659
18,35602,35896,35688,36283,36018,36013,36092,36130,36904,37495,...,40005,40047,40416,40591,40840,41244,41450,41902,42099,42446
19,40331,41037,40799,41819,41190,41366,41409,41534,42319,42974,...,42774,43281,43645,43800,44258,44574,45350,45938,46281,46642
20,40135,40540,40202,40726,40071,40218,40339,40634,40876,41562,...,44753,45156,45804,46077,46665,47090,47683,48097,48471,48579
21,52639,52604,52561,53347,52185,52231,52151,52403,52751,53460,...,57797,58346,58439,58886,59334,60064,59972,60417,60952,61149
22,55866,56531,56149,58079,56149,56584,56730,57025,57597,58271,...,64838,64936,65576,66251,67068,67633,68709,69188,69882,70322
23,38793,39007,38994,40236,39202,39524,39684,39831,40318,41006,...,44566,44904,45285,45482,45664,46162,46873,47198,47503,47688
24,46969,47529,47446,48898,47376,47679,48092,48180,48780,49684,...,52825,53091,53998,54104,54176,54982,55617,56328,56820,57521
25,33443,33733,33449,33979,33963,34086,34684,34302,34465,34922,...,35990,36268,36677,36702,36994,37280,37430,37820,37993,38426
26,39757,40226,40013,41236,40380,40538,40622,40719,41076,41752,...,44446,44779,44925,45159,45431,45983,46367,47161,47392,47978
27,40267,40485,40377,41572,40432,40678,40737,40855,41574,42422,...,44064,44745,45519,46120,46227,46591,47266,47629,47813,48489
28,46383,46856,46029,47385,46836,46804,46695,46233,47824,49073,...,49252,49326,49369,49976,50273,51192,51254,51544,51932,53355
29,39538,39789,39428,40835,39302,39510,39723,40020,40669,41433,...,46265,45740,46886,47376,47915,47900,49137,49326,49866,50565
30,50351,50784,50781,52575,50404,50806,50927,51216,51498,52505,...,56750,56755,57541,57915,58998,59234,60384,60656,61287,61343
31,54154,54291,54264,55553,54376,54743,54798,55306,56202,56750,...,60625,61000,61473,62153,62681,63267,63990,64476,65109,65432
32,35550,35898,35518,36011,34949,35055,35066,35315,36199,36943,...,38866,38938,39082,39225,39523,39877,40476,40868,41405,41745
33,52161,52889,52646,54688,52778,53380,53567,53850,54327,54804,...,59250,60066,61815,62588,63203,64538,64310,64958,65490,65642
34,38610,39049,39020,39695,38307,38299,38357,38599,39501,40046,...,42941,43405,43977,44334,44629,45142,45538,46048,46429,47057
35,54285,55933,56511,58781,54289,55030,55424,55029,56392,57858,...,52207,52059,52087,52601,52277,52740,54260,54984,55697,57065
36,40142,40685,40553,41583,40893,41245,41351,41529,42022,42569,...,45229,45645,46203,46473,46858,47301,47730,48163,48703,49130
37,41654,42080,41860,43272,43415,43989,44211,44478,45816,46531,...,42468,42629,43512,44262,44697,45251,45791,46111,46673,47253
38,39007,39294,39203,39964,39319,39673,39924,40122,40981,41840,...,46006,46443,47091,47832,48182,48894,49661,50201,50962,51313
39,45305,45660,45723,46717,45753,46237,46289,46541,47158,47796,...,51471,51629,51710,52076,52771,53387,54245,54781,55635,56096
40,45328,45518,45341,46191,45239,45278,45499,45741,46468,46849,...,49545,49561,49888,50581,51618,51674,52115,52371,52546,53238
41,35684,35912,35768,36554,35846,36012,36351,36533,37236,38010,...,41287,41713,42357,42704,42915,43264,43716,44078,44511,44963
42,45751,45883,43730,46408,45792,45817,45628,45232,46602,47632,...,49422,49344,50197,50377,50345,50582,51784,51904,52275,54304
43,38836,39322,39253,40091,39367,39372,39427,39610,40184,40635,...,43616,43994,44460,44733,44996,45656,46300,46679,47362,47698
44,43773,44127,43814,45239,44149,44707,44995,45300,46478,47237,...,46622,47125,48221,48867,49510,50306,51197,51685,52322,52811
45,35496,35820,35534,37106,36095,36512,36772,36680,37494,37895,...,41825,42301,42575,43069,43697,44285,45226,45697,46240,46845
46,44761,45340,44900,46037,45270,45802,45847,46185,46416,47247,...,49735,49681,50314,50441,50865,51236,51641,52075,52373,52671
47,48837,49104,48996,50307,48546,48574,48479,48695,49470,50089,...,53367,53934,54355,54731,55159,55669,56078,56421,56970,57432
48,46448,47105,47059,48638,47306,47600,48118,48293,49604,50471,...,54929,55800,56402,56852,57462,58327,59435,59703,60574,61010
49,35240,35587,35265,35729,35270,35350,35272,35378,35806,36434,...,37371,37654,38681,38865,39338,39764,40324,40936,41771,42133
50,42489,42792,42547,43907,42637,43011,43203,43336,43798,44571,...,47400,47461,47999,48429,49103,49414,50224,50438,51050,51540
51,53324,54362,53352,55920,53413,53543,53801,54571,56119,57503,...,54625,54992,55758,56868,57381,58260,59217,59958,60738,61369
52,54567,55149,54726,56444,54419,54748,54908,55212,55840,56606,...,61475,61565,62149,62779,63492,63996,64959,65422,66146,66441
53,50827,51249,51141,52604,51190,51646,51736,52053,52653,53218,...,57370,57894,58734,59328,59932,60842,61116,61676,62323,62596
54,41420,41842,41712,42911,42165,42483,42605,42783,43371,44033,...,47007,47384,47778,48167,48583,49085,49833,50269,50725,51172
55,44100,44581,44190,45602,44598,44901,45058,45046,45522,46424,...,48270,48458,48939,49177,49322,49985,50534,51154,51550,52419
56,39304,39627,39460,40505,39393,39522,39649,39814,40588,41251,...,44058,44460,45123,45532,45897,46433,46948,47361,47886,48316
57,41815,42180,41885,43214,42323,42832,43080,43359,44461,45156,...,45002,45390,46361,46945,47551,48229,49047,49485,50098,50564
58,41054,41455,41197,42940,42110,42628,42958,43243,44328,45077,...,47391,47855,48548,49199,49791,50572,51321,51878,52517,53165
59,46092,46574,46454,48538,46497,47083,47470,47978,48718,49567,...,55013,55488,56077,56660,57254,57993,58593,59288,60066,60582

In [38]:
#new_income_data.T

In [48]:
#data1 = new_income_data.loc[]
new_income_data['Income 2012'] = pd.concat([new_income_data['2012:Q1'], new_income_data['2012:Q2'],new_income_data['2012:Q3'],new_income_data['2012:Q4']],                  
                      ignore_index = True,
                      sort = False)

new_income_data['Income 2013'] = pd.concat([new_income_data['2013:Q1'], new_income_data['2013:Q2'],new_income_data['2013:Q3'],new_income_data['2013:Q4']],                  
                      ignore_index = True,
                      sort = False)

C:\Users\COOPERKK\AppData\Local\Temp\ipykernel_21324\4033399534.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_income_data['Income 2012'] = pd.concat([new_income_data['2012:Q1'], new_income_data['2012:Q2'],new_income_data['2012:Q3'],new_income_data['2012:Q4']],

In [49]:
new_income_data.head()

,2012:Q1,2012:Q2,2012:Q3,2012:Q4,2013:Q1,2013:Q2,2013:Q3,2013:Q4,2014:Q1,2014:Q2,...,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,Income 2012,Income 2013
0,43971,44381,44191,45616,44353,44720,44910,45171,45909,46616,...,50794,51286,51773,52428,53022,53532,54122,54578,43971,44353
1,35571,35873,35507,36323,35900,36009,36176,35959,36269,36846,...,39823,40112,40305,40731,41148,41409,41675,42162,35571,35900
2,53535,53819,53460,54042,52634,52545,53053,53253,54867,55703,...,56564,56869,57597,58164,58846,59239,60258,60717,53535,52634
3,36104,36470,36217,37364,36701,37090,37254,37427,38134,38522,...,42608,42966,43597,43955,44688,44994,45551,45890,36104,36701
4,35988,36556,36187,37595,36500,36639,36803,36739,37782,38584,...,41757,41871,42027,42567,42986,43338,43849,44447,35988,36500

In [ ]:
average_df = new_income_data.mean

In [ ]:
#Convert State Abbrev.
state_2 = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

state_2 = {state: abbrev for state, abbrev in state_2.items()}

In [ ]:
#New State Col. (abbrev so it will match drug_overdose states)
new_income_data['abbrev'] = new_income_data['GeoName'].map(state_2)
new_income_data = new_income_data.drop(columns=['GeoName'])
new_income_data = new_income_data.rename(columns={'abbrev':"State"})
new_income_data = new_income_data.dropna() 
new_income_data

Connect to Local Database

In [ ]:
#Connect to DB
protocol = 'postgresql'
username = 'postgres'
password = ''
host = 'localhost'
port = 5433
database_name = 'drug_overdose_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
#engine.table_names()